# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/
next.user-config.*

# Environment variables
.env*.local

# Common ignores
node_modules
.next/
.DS_Store
*.md

public/simple_database_1.png
public/simple_router_1.png
public/simple_server_1.png
public/full_portrait.png
public/self.jpeg